
  
  body {
    background: gray;
    font-size: 24px;
    line-height: 32px;
    color: #333;
    width: 960px; 
    margin: 0 auto;
  }
  

  
header {
    background-color: antiquewhite;
    text-align: center;
    height: 100px;
    margin-top: 10px;
}

nav {
  background-color: antiquewhite;
    text-align: center;
    height: 100px;
    margin-top: 10px;
}

section {
  height: 270px; 
  background-color: antiquewhite;
  margin-top: 10px;
  float: left;
  width: 50%;
}

#article {
  width: 411px;
  height: 150px;
  background-color: grey;
  padding: 1em;
  position: relative;
  top: 25%;
  left: 2%;
  right: 3%;
}

#h1h2h3 {
  position: absolute; 
  width: 434px;
  height: 70px;
  background-color: antiquewhite;
  right: 3%;
  left: 3%;
  bottom: 1%;
  top: 20%;
  text-align: center;
}

#pbox {
  position: absolute; 
  width: 434px;
  height: 70px;
  background-color: antiquewhite;
  right: 10px;
  left: 0px;
  top: 80px;
  text-align: center;
}

aside {
  height: 270px; 
  background-color: antiquewhite;
  margin-top: 10px;
  float: right;
  width: 48%;
  text-align: center; 
}

footer {
  background-color: antiquewhite;
  text-align: center;
  height: 100px;
  margin-top: 10px;
  float: left; 
  width: 100%;
}